<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <title>Vinariam | Carrito</title>
</head>

<body>
    <header>
        <div class="LogoPrincipal">
            <a href="/"><img class="logo" src="img/logolargo.svg" alt="LogoPrincipal"></a>
        </div>

            <div class="menuDerecho">

                <nav> 
                    <ul class="barraNav"> 
                        <li><a class="mayus" href="#">Vinos</a></li>
                        <li><a class="mayus" href="#">El club</a></li>
                        <li><a class="mayus" href="#">Experiencias</a></li>
                        <li><a class="mayus" href="#">Conocenos</a></li>
                        <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                        <li><a href="#"><i class="fas fa-user"></i></a></li>
                    </ul>
            </nav>
            </div> 

    </header>   
    <main>
        <h1 class="tituloCart">Tu carrito de compras</h1>
        <div class="contenedorCart">
            <div class="articulos">
                <article class="resumen">
                    <img class="articulo" src="img/1.png" alt="Articulo">
                    <p class="descripcion">Benegas Malbec 2015</p>
                    <input class="cantidad" type="number" name="cantidad" placeholder="1">
                    <p class="precio">$1.200</p>
                    <i class="fas fa-trash-alt"></i>
                </article>

                <article class="resumen">
                    <img class="articulo" src="img/1.png" alt="Articulo">
                    <p class="descripcion">Benegas Malbec 2015</p>
                    <input class="cantidad" type="number" name="cantidad" placeholder="1">
                    <p class="precio">$1.200</p>
                    <i class="fas fa-trash-alt"></i>
                </article>

                <article class="resumen">
                    <img class="articulo" src="img/1.png" alt="Articulo">
                    <p class="descripcion">Benegas Malbec 2015</p>
                    <input class="cantidad" type="number" name="cantidad" placeholder="1">
                    <p class="precio">$1.200</p>
                    <i class="fas fa-trash-alt"></i>
                </article>

                <article class="totales">
                    <div class="primeraColumna">
                        <p>Subtotal</p>
                        <p>Envío</p>
                        <p>Total</p>
                    </div>
                    <div class="segundaColumna">
                        <p>$3.600</p>
                        <p>$400</p>
                        <p>$4.000</p>
                    </div>
                </article>
            </div>
            <div class="dibujito">
                <article class="mensaje">
                    <p>Combínalo con estos maridajes increíbles</p>
                    <img src="img/quesosportadilla.jpg" alt="maridaje">
                </article>
            </div>
        </div>
        
    </main>

    <footer class="footer">
  
        <div class="bloque">
            <p>Distribuidora Boutique</p>
            <p>Calle Falsa 123, CABA</p>
            <p>Tel: +54 9 11 2222 3333</p>
            <p>contacto@vinariam.com</p>
        </div>
        
        <div class="bloque">
            <p>Ayuda</p>
            <p>Cómo comprar</p>
            <p>Envíos</p>
            <p>Términos y Condiciones </p>
        </div>

        <div class="bloqueSolo">
            
            <p>Copyright© VINARIAM. All rights reserved. </p>

        </div>

        <div class="bloqueSolo">
            
            <p>Seguinos</p>

        </div>


    </footer>
</body>
</html>