<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
   
    <title>Vinariam</title>
</head>

<body>

  <header>
     <div class="LogoPrincipal">
        <img class="logo" src="img/Logocopa.svg" alt="LogoPrincipal">
    </div>

        <div class="menuDerecho">

            <nav> 
                <ul class="barraNav"> 
                    <li><a class="mayus" href="#">Vinos</a></li>
                    <li><a class="mayus" href="#">El club</a></li>
                    <li><a class="mayus" href="#">Experiencias</a></li>
                    <li><a class="mayus" href="#">Conocenos</a></li>
                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                    <li><a href="#"><i class="fas fa-user"></i></a></li>
                </ul>
           </nav>

        <div class="contenedor">
        <h1 class="tituloSlider">Estación de vinos</h1>
        </div>   
      
        </div> 

  </header>   
<div>

</div class="fonditosyVinos">

    <div class="vinos">

       <div>
        <img class= "vinoFoto"src="img/1.png" alt="vino1">
       </div>

       <div>
        <img class= "vinoFoto"src="img/2.png" alt="vino2"> 
       </div>

       <div>
       <img class= "vinoFoto"src="img/3.png" alt="vino3">
       </div>

       <div>
       <img class= "vinoFoto"src="img/4.png" alt="vino4">
       </div>
       
    </div>

     <div class="fondos">
    
        <div>
        <img class= "fondoFoto"src="img/coral.png" alt="coral">
        </div>

        <div>
        <img class= "fondoFoto"src="img/azul.png" alt="azul">
        </div>   

        <div>
        <img class= "fondoFoto"src="img/rosa.png" alt="rosa">
        </div>

        <div>
        <img class= "fondoFoto"src="img/verde.png" alt="verde"> 
        </div>

    </div>

</div>
<footer>

<div class="footer">

    <div class="bloque">
                   <p>Distribuidora Boutique</p>
                   <p>Calle Falsa 123, CABA</p>
                   <p>Tel: +54 9 11 2222 3333</p>
                   <p>contacto@vinariam.com</p>
    </div>
    
    <div class="bloque">
        <p>Ayuda</p>
        <p>Cómo comprar</p>
        <p>Envíos</p>
        <p>Términos y Condiciones </p>
    </div>

    <div class="bloqueSolo">
        
        <p>Copyright© VINARIAM. All rights reserved. </p>

    </div>

    <div class="bloqueSolo">
        
        <p>Seguinos</p>

    </div>
</div>

</footer>


</body>
</html>