<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/stylesLogin.css">

    <title>Vinariam | Ingresá</title>
</head>

<body>
    <header>
        <div class="LogoPrincipal">
            <a href="/"><img class="logo" src="img/logoblanco.svg" alt="LogoPrincipal"></a>
        </div>

            <div class="menuDerecho">

                <nav> 
                    <ul class="barraNavL"> 
                        <li><a class="mayus" href="#">Vinos</a></li>
                        <li><a class="mayus" href="#">El club</a></li>
                        <li><a class="mayus" href="#">Experiencias</a></li>
                        <li><a class="mayus" href="#">Conocenos</a></li>
                        <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                        <li><a href="#"><i class="fas fa-user"></i></a></li>
                    </ul>
            </nav>
            </div> 

    </header>   

    <main>
    <div class="content">
        <div class="derechaLogin">
            <img class="mujerLogin" src="img/mujerlogin.svg" alt="mujerLogin">
        </div>
        <div class="izquierdaLogin">
            <form>
                <input class="camposLogin" type="text" name="login" placeholder="Usuario"><br>
                <input class="camposLogin" type="password" name="login" placeholder="Contraseña"><br>
                <button class="botonLogin camposLogin" type="submit" name="login" id="login">Ingresar</button><br>
                <button class="botonLoginGoogle camposLogin" type="submit" name="login" id="login">Sign up with Google</button>

            </form>
         </div>
    </div>
    </main>
    <footer class="footer">
  
        <div class="bloque">
            <p>Distribuidora Boutique</p>
            <p>Calle Falsa 123, CABA</p>
            <p>Tel: +54 9 11 2222 3333</p>
            <p>contacto@vinariam.com</p>
        </div>
        
        <div class="bloque">
            <p>Ayuda</p>
            <p>Cómo comprar</p>
            <p>Envíos</p>
            <p>Términos y Condiciones </p>
        </div>

        <div class="bloqueSolo">
            
            <p>Copyright© VINARIAM. All rights reserved. </p>

        </div>

        <div class="bloqueSolo">
            
            <p>Seguinos</p>

        </div>


    </footer>
</body>
</html>