<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/stylesRegister.css">

   
    <title>Registrate en</title>
</head>

<body>

    <header>
        <div class="LogoPrincipal">
            <a href="/"><img class="logo" src="img/logolargo.svg" alt="LogoPrincipal"></a>
        </div>

            <div class="menuDerecho">

                <nav> 
                    <ul class="barraNavR"> 
                        <li><a class="mayus" href="#">Vinos</a></li>
                        <li><a class="mayus" href="#">El club</a></li>
                        <li><a class="mayus" href="#">Experiencias</a></li>
                        <li><a class="mayus" href="#">Conocenos</a></li>
                        <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                        <li><a href="#"><i class="fas fa-user"></i></a></li>
                    </ul>
            </nav>
            </div> 

    </header>   

    <main>
        <div class="contentR">
        <div class="genteRegister">
            <img class="hombreRegister" src="img/hombre.svg" alt="genteRegister">
            <img class="mujerRegister" src="img/mujer.svg" alt="genteRegister">
        </div>
        <div class="formRegister">
            <form >
                <h2>Contanos de vos</h2>
                <input class="camposForm" type="text" name="register" placeholder="Nombre"><br>
                <input class="camposForm" type="text" name="register" placeholder="Apellido"><br>
                <input class="camposForm" type="date" name="register"><br> 
                <input class="camposForm" type="email" name="register" placeholder="E-mail"><br>
                <input class="camposForm" type="password" name="register" placeholder="Clave"><br>
                <input class="camposForm" type="password" name="register" placeholder="Confirmá tu clave"><br>
             <div class="botones">
                <input class="boton" type="checkbox" name="terminos" value="terminos"><label class="terminos" name="terminos">Acepto los Términos y Condiciones</label><br>
                <button class="boton camposForm" type="submit" name="register" id="register"><strong>Continuar</strong></button>
             </div>
          </form>
        </div>
    </div>
    </main>
    <footer class="footer">
  
        <div class="bloque">
            <p>Distribuidora Boutique</p>
            <p>Calle Falsa 123, CABA</p>
            <p>Tel: +54 9 11 2222 3333</p>
            <p>contacto@vinariam.com</p>
        </div>
        
        <div class="bloque">
            <p>Ayuda</p>
            <p>Cómo comprar</p>
            <p>Envíos</p>
            <p>Términos y Condiciones </p>
        </div>

        <div class="bloqueSolo">
            
            <p>Copyright© VINARIAM. All rights reserved. </p>

        </div>

        <div class="bloqueSolo">
            
            <p>Seguinos</p>

        </div>


    </footer>
</body>
</html>