.barraNavL{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px ;
    border-bottom: 1px solid gray;
}

body{
    background-image: url("/img/uvas.png");
    font-family:'Montserrat', sans-serif;
    background-size: cover;
}

/* login */

.content{
    display:flex;
}

.izquierdaLogin{
    padding-top: 7%;
    justify-content: flex-start;
    display: flex;
    flex-basis: 40%;
}

.derechaLogin{
    display: flex;
    justify-content: flex-end;
    flex-basis: 50%;
    position: relative;
    top: 150px;
}

.mujerLogin{
    display:flex;
    width: 700px; height: 600px; 
}

.formLogin{
    left: 20%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

.camposLogin{
    margin-bottom: 12px; 
    border-radius: 50px;
    padding: 13px 15px;
    border-style: none;
}

.botonLogin{
    color: #F3E1DF;
    background-color: #B0827D;
    left: 50%;

}

.botonLoginGoogle{
    color:#628FB9;
    left: 50%
}

.linkRegister,.textoRegister{
    color: white;
    font-family:'Montserrat', sans-serif;
    text-align: center;
}

.linkRegister{
    text-decoration: underline;
}

.mayus,.fa-shopping-cart,.fa-user{
    color: white;
}

/* login */

