.barraNavR{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px ;
    border-bottom: 1px solid gray;
}

.contentR{
    display: flex;
}

.genteRegister{
    display:flex;
    width: 60%;
    padding-left: 100px;
    padding-top: 50px;
    justify-content: flex-start;
}
.mujerRegister{
    width: 300px; height: 300px;
    top: 200px;
    left: 250px;
    display: flex;
    position: relative;
    
}
.hombreRegister{
    width: 300px; height: 300px;
    position: absolute;
    z-index: 1;
    display: flex;

}

.terminos{
 padding: 20px 3px 20px;
}

.camposForm{
margin-bottom: 10px; 
border: #edeae3;
border: 5px solid #edeae3;
border-radius: 50px;
width: 60%;
padding: 12px 15px;
font-family:'Montserrat', sans-serif;
font-weight: 100;

}

.camposForm:focus{
background-color: #edeae3;
}

.formRegister{
    margin-bottom: 100px;
    width: 40%;
}

.botones{
    left: 3%;
    position: relative;
}
.boton{
    margin-top: 20px;    
}

body{
    font-family:'Montserrat', sans-serif;
    background-color: #edeae3;
}

h2{
    font-weight: 100;
    position: relative;
    left: 2%;
}