.barraNavL{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px ;
    border-bottom: 1px solid gray;
}

body{
    background-image: url("/img/uvas.png");
    font-family:'Montserrat', sans-serif;
    background-size: cover;

}

/* login */

.content{
    display:flex;
}

.izquierdaLogin{
    padding-top: 10%;
    justify-content: flex-start;
    display: flex;
    flex-basis: 50%;

}

.derechaLogin{
    display: flex;
    justify-content: flex-end;
    flex-basis: 50%;

}

.mujerLogin{
    display:flex;
    right: 20%;
    width: 600px; height: 500px;
}

.camposLogin{
    margin-bottom: 10px; 
    border-radius: 50px;
    padding: 12px 15px;
    border-style: none;
    display: flex;

}

.botonLogin{
    color: #F3E1DF;
    background-color: #B0827D;
    left: 50%

}

.botonLoginGoogle{
    color:#628FB9;
    left: 50%
}

.mayus,.fa-shopping-cart,.fa-user{
    color: white;
}

/* login */

