body{
    font-family:'Montserrat', sans-serif;
    background-color: #edeae3;
}

header{
    display: flex;

}
.LogoPrincipal{
    width: 20%;
    padding: 20px;
}

.menuDerecho{
    width: 80%;
    padding-left: 60px;

}

.barraNav{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px ;
    border-bottom: 3px solid #278828;
}

.contenedor{
   background-image: url('/img/barriles.svg');
   background-size: cover;
   width: 100%;
   height: 350px;
}

ul{
    list-style-type: none;

}

a{
    text-decoration: none;
    color: black;
}

.mayus:hover {
    text-decoration: underline;

}

.mayus {
    text-transform: uppercase;
}



.tituloSlider {
    color: white;
    justify-content: center;
    text-align: center;
    font-family:'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 60pt;
    letter-spacing: 20pt;


}

/*----------Contenido--------------*/

.vinosYVideos{
    display: flex;
    padding: 100px 0;
}

.fonditosyVinos{
    display: flex;
    width: 60%;
    

}

.padreVinos{
    display: flex;
    position: absolute;
    z-index: 1;
}
.padreManchas {
    display: flex;
    position: relative;
}
.vinos {
    padding: 0 75px;
}

.fondos {
    padding: 28px 25px 0 25px;
}


.tamanoV{

    height: 200px;
}

.tamanoF{
    height: 150px;
}



.video{
    justify-content: flex-end;
    width: 40%;
}



/*------------------------*/




.bloque {
    display: block;
    width: 100%;
    height: 20vh;
    color: white;
    padding: 5%;
}

.bloqueSolo {
    display: block;
    width: 100%;
    height: 20vh;
    color: white;
    padding: 5%;
}


.footer{
    display:flex;
    justify-content: center;
}

footer{
background-color: #212960;

}