<%- include ('./partials/head', {title: 'About'}) %>
    <body>
        <div class="center">
            <%- include ('./partials/header') %>
        </div>
        <main>
            <div class="bloqueAbout">

                <div class="about">
                    <img class="about" src="/img/about.svg" alt="about">
                </div>
    
                <div class="ladoDerecho">
                    <h2 class="textoAbout">Our story</h2>
                        <p>
                            Welcome to Vinariam!
                            Our wine station is a family project that started as an amateur endeavor, getting to know, learning, participating in tastings, and refining ourselves as sommeliers, until we created the space we have today and want to share with you.
                            We are passionate about passionate people, advising those who are looking for a unique and high-quality wine. </p>
                        <iframe class="map" src="https://www.google.com/maps/embed/v1/place?q=vestebrogade+30&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                
            </div>


        </main>
        
        <%- include ('./partials/footer') %>
    </body>
</html>