<%- include ('./partials/head', {title: 'About'}) %>
    <body>
        <div class="center">
            <%- include ('./partials/header') %>
        </div>
        <main>
            <div class="bloqueAbout">

                <div class="about">
                    <img class="about" src="/img/about.svg" alt="about">
                </div>
    
                <div class="ladoDerecho">
                    <h2 class="textoAbout">Nuestra historia</h2>
                        <p>
                        ¡Bienvenidos a Vinariam!
                        Nuestra estación de vinos es un proyecto familiar que 
                        comenzó de manera amateur, conociendo, aprendiendo, participando 
                        en catas y perfeccionándonos como sommeliers, hasta formar el espacio 
                        que tenemos y que hoy queremos compartir con ustedes.
                        Nos apasionan los apasionados, asesorar a personas que buscan un vino 
                        distinto y de calidad. </p>
                        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.1416064188156!2d-58.56408018423677!3d-34.6005805648402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb825bdfd00d9%3A0x73fd14789c2d22a7!2sAv.%20Libertador%20Gral.%20San%20Mart%C3%ADn%202051%2C%20B1678%20Caseros%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1608787515801!5m2!1ses-419!2sar" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                
            </div>


        </main>
        
        <%- include ('./partials/footer') %>
    </body>
</html>