<%- include ('./partials/head', {title: 'About'}) %>
    <body>
        <div class="center">
            <%- include ('./partials/header') %>
        </div>
        <main>
            <div class="bloqueAbout">

                <div class="about">
                    <img class="about" src="/img/about.svg" alt="about">
                </div>
    
                <div class="ladoDerecho">
                    <h2 class="textoAbout">
                        Nuestra historia</h2>
                        <p>
                        ¡Bienvenidos a Vinariam!
                        Nuestra estación de vinos es un proyecto familiar que 
                        comenzó de manera amateur, conociendo, aprendiendo, participando 
                        en catas y perfeccionándonos como sommeliers, hasta formar el espacio 
                        que tenemos y que hoy queremos compartir con ustedes.
                        Nos apasionan los apasionados, asesorar a personas que buscan un vino 
                        distinto y de calidad. </p>
                </div>
                
            </div>


        </main>
        
        <%- include ('./partials/footer') %>
    </body>
</html>