<%- include ('./partials/head', {title: 'Carga de productos'}) %>

<body>

    <%- include ('./partials/header') %>

    <h1 class="tituloCarga">Panel de control</h1>
    

    <div class="contenedorPadre">

        <div class="contenedorAdmin">
            <div class="navAdmin">
                <div class="usuarioAdmin">
                    <img class="avatar" src="/img/avatar1.svg" alt="Avatar">
                    <div class="nombreAdmin">
                        <h3>Violeta Aguirre</h3>
                        <a href="./users/profile">Ver mi perfil</a>
                    </div>
                </div>
                <a class="navAdminElemnto" href="#">Proveedores</a>
                <a class="navAdminElemnto" href="./admin/carga">Cargar producto</a>
                <a class="navAdminElemnto" href="#">Pedidos</a>
                <a class="navAdminElemnto" href="#">Configuración</a>
                <a class="navAdminElemnto" href="#">Mensajes</a>
                <a class="navAdminElemnto" href="#">Métricas</a>
            </div>
            
        </div>

        <div class="bloqueAdmin">
            <div class="textoAdmin">
            <h2 class="datosPerfil">Tus datos</h2>
            <div class="fotoAdmin">
                <img class="fotoAdmin" src="/img/fotoAdmin.svg" alt="fotoAdmin">
            </div>
            <p class="datosPersonales">
                <br>Violeta Aguirre</br>
                <br>José Bonifacio 1679</br>
                <br>1165652125</br>
            </p>
            </div>
        </div>

    </div>

</body>
</html>