<%- include ('./partials/head', {title: 'Carga de productos'}) %>

<body>

    <%- include ('./partials/header') %>

    <h1 class="tituloCarga">Panel de control</h1>
    <div class="contenedorCarga">
        <div class="navAdmin">
            <div class="usuarioAdmin">
                <img class="avatar" src="/img/avatar1.svg" alt="Avatar">
                <div class="nombreAdmin">
                    <h3>Violeta Aguirre</h3>
                    <a href="./users/profile">Ver mi perfil</a>
                </div>
            </div>
            <a class="navAdminElemnto" href="#">Proveedores</a>
            <a class="navAdminElemnto" href="./admin/carga">Cargar producto</a>
            <a class="navAdminElemnto" href="#">Pedidos</a>
            <a class="navAdminElemnto" href="#">Configuración</a>
            <a class="navAdminElemnto" href="#">Mensajes</a>
            <a class="navAdminElemnto" href="#">Métricas</a>
        </div>
      
        </div>
    </div>


</body>
</html>