<%- include ('./partials/head', {title: 'Carga de productos'}) %>

<body>

    <%- include ('./partials/header') %>

    <h1 class="tituloCarga">Carga de productos</h1>
    <div class="contenedorCarga">
        <div class="navAdmin">
            <div class="usuarioAdmin">
                <img class="avatar" src="/img/avatar1.svg" alt="Avatar">
                <div class="nombreAdmin">
                    <h3>Violeta Aguirre</h3>
                    <p>Ver mi perfil</p>
                </div>
            </div>
            <p>Proveedores</p>
            <p class="selectedAdminNav">Cargar producto</p>
            <p>Pedidos</p>
            <p>Configuración</p>
            <p>Mensajes</p>
            <p>Métricas</p>
        </div>
        <div class="selectorCategoria">
            <h3>/tipo de producto</h3>
            <a href="/admin/carga">
                <img src="/img/cargaVino.svg" alt="Carga de vinos">
            </a>
            <a href="/admin/carga">
                <img src="/img/cargaConservas.svg" alt="Carga de conservas">
            </a>
            <a href="/admin/carga">
                <img src="/img/cargaExp.svg" alt="Carga de experiencias">
            </a>
            <a href="/admin/carga">
                <img src="/img/cargaBoxes.svg" alt="Carga de boxes">
            </a>
        </div>
        <div>
            <form class="carga" action="/admin/carga" method="POST" enctype="multipart/form-data">
                <div class="cargaCampos">
                    <input class="sinborde" type="text" id="name" name="name" placeholder="/nombre" class="form-input">
                </div>
                <div class="cargaCampos">
                    <input class="sinborde" type="text" id="price" name="price" placeholder="/ precio" class="form-input">
                </div>
                <div class="cargaCampos">
                    <label for="class" class="form-label"></label>
                    <select class="sinborde" name="class" id="class" class="form-input">
                        <option value="" disabled = "true">/ variedad</option>
                        <option value="no-destacado">No destacado</option>
                        <option value="destacado">Destacado</option>                        
                    </select>
                </div>
                <div class="cargaCampos">
                    <label for="subCategory" class="form-label"></label>
                    <select class="sinborde" name="subCategory" id="subCategory" class="form-input">
                        <option value="" disabled = "true">/ variedad</option>
                        <option value="malbec">Malbec</option>                        
                        <option value="cabernet">Cabernet Sauvignon</option>
                        <option value="blend">Blend</option>
                        <option value="blanco">Blanco</option>
                        <option value="rosado">Rosado</option>
                    </select>
                </div>
                <div class="cargaCampos">
                    <input class="sinborde" type="text" id="presentation" name="presentation" placeholder="/ presentacion" class="form-input">
                </div>
                <div class="cargaCampos">
                    <label for="image" class="form-label"></label>
					<input type="file" name="image" id="image">
                </div>

                <div class="cargaCampos">
                    <textarea class="sinborde" name="description" id="description" class="form-input" placeholder="/descipción"></textarea>
                </div>
                <div class="contenedorGuardar">
                    <div class="Guardar">
                        <button class="botonGuardar" type="submit" class="buy-now-button">Cargar producto</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</body>
</html>