<!DOCTYPE html>
<html lang="es">
    
    <%- include ('./partials/head', {title: 'Enter'}) %>
   
    <body>

        <div class="enter">

            <div class="ladoIzquierdo">
                <h3 class="textoEnter">
                    Nuestros vinos maduraron los años necesarios, 
                    necesitamos asegurarnos que <b>vos también.</b>
                </h3>

                <div class="soyMayor">
                    <a href="/">
                        <button class="botonEnter" type="submit" name="soyMayor" id="soyMayor"><strong>Soy mayor de 18 años</strong></button>
                    </a> 
                    </div>
            
                <img class="originaLogo" src="/img/originaLogo.svg" alt="Logo">
            </div>

            <div class="fondoEnter">
                <img class="fondoEnter" src="/img/fondoEnter.svg" alt="Enter">
            </div>
            
        </div>
        
    </body>
</html>