<!DOCTYPE html>
<html lang="es">
    
    <%- include ('./partials/head', {title: 'Enter'}) %>
   


    <body>
        <div class="center">
            <%- include ('./partials/header') %>
            
            <div class="contenedorError">

                <div class="izquierdaError">

                    <h2 class="textoError">
                        Ups! Nothing to see here. <p>Yet.</p> 
                        <br></br>
                        Go back to the <a href="/">home page</a>
                        <br></br>
                        <p>And in the meantime, pour yourself a glass of wine.</p>

                    </h2>    
                </div>

                <div class="paciencia">
                    <img class="paciencia" src="/img/paciencia.svg" alt="paciencia">
                </div>
            
            </div>
        </div>
    </body>
</html>