<%- include ('./partials/head', {title: 'Productos'}) %>

<body>
    <div class="center">
        <%- include ('./partials/header') %>
        
        <main>
            <div class="tituloVino">
                <h1 class="tituloVino">Vinos</h1>
            </div>  
            <div class="BloqueGeneral">
                
                <div class= "mujerComprando">
                        <img src="/img/mujerComprando.svg" alt="mujerComprando">
                </div>
        
                <div class="ContenedorInfoProducto">
            
    
                </div>

                <div class="fila1">
    
                    <article class="producto1">
                        <img src="/img/listado/1.png" alt="producto1">

                        <div class="agregarCarrito">
                            <a href="/productos/cart">Agregar </a> 
                            <a href="/productos/cart"><i class="fas fa-shopping-cart"></i></a>  
                        </div>
                    </article>

                    <article class="producto1">
                        <img src="/img/listado/2.png" alt="producto2">
                        <div class="agregarCarrito">
                            <a href="/productos/cart">Agregar </a> 
                            <a href="/productos/cart"><i class="fas fa-shopping-cart"></i></a>  
                        </div>
                    </article>

                    <article class="producto1">
                        <img src="/img/listado/3.png" alt="producto3">
                        <div class="agregarCarrito">
                            <a href="/productos/cart">Agregar </a> 
                            <a href="/productos/cart"><i class="fas fa-shopping-cart"></i></a>  
                        </div>
                    </article>

                    <article class="producto1">
                        <img src="/img/listado/4.png" alt="producto4">
                        <div class="agregarCarrito">
                            <a href="/productos/cart">Agregar </a> 
                            <a href="/productos/cart"><i class="fas fa-shopping-cart"></i></a>  
                        </div>
                    </article>

                </div>

                <div class="fila2"> 
                    <article class="producto1">
                        <img src="/img/listado/5.png" alt="producto5">
                        <div class="agregarCarrito">
                            <a href="/productos/cart">Agregar </a> 
                            <a href="/productos/cart"><i class="fas fa-shopping-cart"></i></a>  
                        </div>
                    </article>

                    <article class="producto1">
                        <img src="/img/listado/6.png" alt="producto6">
                        <div class="agregarCarrito">
                            <a href="/productos/cart">Agregar </a> 
                            <a href="/productos/cart"><i class="fas fa-shopping-cart"></i></a>  
                        </div>
                    </article>

                    <article class="producto1">
                        <img src="/img/listado/7.png" alt="producto7">
                        <div class="agregarCarrito">
                            <a href="/productos/cart">Agregar </a> 
                            <a href="/productos/cart"><i class="fas fa-shopping-cart"></i></a>  
                        </div>
                    </article>

                    <article class="producto1">
                        <img src="/img/listado/8.png" alt="producto8">
                        <div class="agregarCarrito">
                            <a href="/productos/cart">Agregar </a> 
                            <a href="/productos/cart"><i class="fas fa-shopping-cart"></i></a>  
                        </div>
                    </article>
                </div>
            
        

               


            </div>

        </main>
    </div>
    <%- include ('./partials/footer') %>

</body>
</html>