<%- include ('./partials/head', {title: 'Iniciar sesion'}) %>


<body class="bodyLogin center">
    
    <%- include ('./partials/headerBlanco') %>

        <main>
            <div class="content">
                <div class="izquierdaLogin">
                
                    <form action="/users/login" method="POST" class="formLogin"> 
            
                        <% if (typeof errors != "undefined") { %>
							
                            <% errors.forEach(error => { %>
                             
                                <p style="color: white"><%= error.msg %> </p>
    
                            <% }) %>
            
                        <% } %>

                        <input class="camposLogin" type="text" name="email" id="email" placeholder="Usuario o E-Mail"><br>
                        <input class="camposLogin" type="password" name="password" id="password" placeholder="Contraseña"><br>
                        <button class="botonLogin camposLogin" type="submit" name="login" id="login">Ingresar</button><br>
                        <label><input type="checkbox" id="recordame" name="recordame">Recordame</label>
                        <!--<button class="botonLoginGoogle camposLogin" type="text" name="login" id="login">Log in with Google</button><br> -->
                        <p class="textoRegister">¿Todavía no te registraste?</p>
                        <a href="/users/register" class="linkRegister"><p>Crea tu cuenta.</p></a>
                    </form>
                </div>
                <div class="derechaLogin">
                    <img class="mujerLogin" src="/img/mujerlogin.svg" alt="mujerLogin">
                </div>
            </div>
        </main>
</body>


</html>