<%- include ('./partials/head', {title: 'Iniciar sesion'}) %>


<body class="bodyLogin">
    
    <%- include ('./partials/header') %>

        <main>
        <div class="content">
            <div class="izquierdaLogin">
                <form class="formLogin"> 
                    <input class="camposLogin" type="text" name="login" placeholder="Usuario"><br>
                    <input class="camposLogin" type="password" name="login" placeholder="Contraseña"><br>
                    <button class="botonLogin camposLogin" type="submit" name="login" id="login">Ingresar</button><br>
                    <button class="botonLoginGoogle camposLogin" type="submit" name="login" id="login">Log in with Google</button><br>
                    <p class="textoRegister">¿Todavía no te registraste?</p>
                    <a href="/users/register" class="linkRegister"><p>Crea tu cuenta.</p></a>
                </form>
            </div>
            <div class="derechaLogin">
                <img class="mujerLogin" src="img/mujerlogin.svg" alt="mujerLogin">
            </div>
        </div>
        </main>
</body>
</html>