<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/stylesProduct.css">

   
    <title>Producto</title>

</head>

<body>

    <header>
        <div class="LogoPrincipal">
            <a href="/"><img class="logo" src="img/logolargo.svg" alt="LogoPrincipal"></a>
        </div>
    
        <div class="menuDerecho">
    
            <nav> 
                <ul class="barraNavR"> 
                    <li><a class="mayus" href="#">Vinos</a></li>
                    <li><a class="mayus" href="#">El club</a></li>
                    <li><a class="mayus" href="#">Experiencias</a></li>
                    <li><a class="mayus" href="#">Conocenos</a></li>
                    <li><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
                    <li><a href="/login"><i class="fas fa-user"></i></a></li>
                </ul>
            </nav>
        </div> 
           
    </header>   
    
    <main>
    
        <div class="BloqueGeneral">
            
            <div class= "mujer">
                    <img src="img/productwomen.svg" alt="ProductWomen">
            </div>
    
            <div class="ContenedorInfoProducto">
          
                <div class="tituloVino">
                    <h1 class="tituloVino">Monchenot 10 años</h1>
                </div>  
                
                <div class="agregarCarrito">
                    <a href="/cart">Agregar </a> 
                    <a href="/cart"><i class="fas fa-shopping-cart"></i></a>  
                </div>

                <div class="RateProduct">
                <div>
                    <h3 class="Cant">ALCOHOL 13,5%</h3>
                </div>
                <div>
                    <img class="circle" src="img/circle1.svg" alt="circle1">
                </div>
                <div>
                    <h3 class="Cant">ACIDEZ VOLATIL 0,55 gr/l</h3>
                </div>
                <div>
                    <img class="circle" src="img/circle2.svg" alt="circle2">
                </div>
                <div>
                    <h3 class="Cant">ACIDEZ TOTAL 5,20 gr/l.</h3>
                </div>
                <div>
                    <img class="circle" src="img/circle3.svg" alt="circle3">
                </div>
                </div>  

            <div class="InfoProducto">
            <h3 class="Info Producto">Vino de color rubí intenso, con sutiles 
                tonos caoba. Se manifiestan aromas complejos. En boca revela 
                una excelente estructura con taninos suaves y maduros presentando un largo final.
                De acuerdo a la preferencia del consumidor, el añejamiento de este vino en su 
                botella puede prolongarse por un período de 10 años o más, pudiendo lograrse 
                lo que hoy es el Montchenot 15 y 20 años. Por sus características es un vino 
                ideal para acompañar carnes rojas y comidas con salsas suaves. Se aconseja 
                consumir a una temperatura de 18 a 20 oC. Para mantener sus atributos intactos, 
                durante la guarda, la botella debe permanecer en posición horizontal, de manera 
                que el vino se encuentre en contacto con el corcho, alejado del calor y la luz.</h3>
            </div>  
            </div>

            <div class="vinoproduct">
                <img src="img/vinoproduct.png" alt="vinoproduct">
            </div>


        </div>

    </main>
    <footer class="footer">
  
        <div class="bloque">
            <p>Distribuidora Boutique</p>
            <p>Calle Falsa 123, CABA</p>
            <p>Tel: +54 9 11 2222 3333</p>
            <p>contacto@vinariam.com</p>
        </div>
        
        <div class="bloque">
            <p>Ayuda</p>
            <p>Cómo comprar</p>
            <p>Envíos</p>
            <p>Términos y Condiciones </p>
        </div>

        <div class="bloque">
            
            <p>Copyright© VINARIAM. All rights reserved. </p>

        </div>

        <div class="bloque social">
            
            <p>Seguinos</p>
            <div class="redes">
                <p><i class="fab fa-facebook-f"></i></p>
                <p><i class="fab fa-instagram"></i></p>
                <p><i class="fab fa-whatsapp"></i></p>
            </div>
        </div>
    </footer>
</body>
</html>