<%- include ('./partials/head', {title: 'Productos'}) %>
    <body>
        <div class="center">
            <%- include ('./partials/header') %>
        </div>
        <main>
            <h1 class="tituloListado">Usuario</h1>


        </main>
        
        <%- include ('./partials/footer') %>
    </body>
</html>