<%- include ('./partials/head', {title: 'Productos'}) %>
    <body>
        <div class="center">
            <%- include ('./partials/header') %>
        </div>
        <main>
            <h1 class="tituloListado">Usarname</h1>
            <a href="/users/logout">Logout</a>
            
        </main>
        
        <%- include ('./partials/footer') %>
    </body>
</html>