<footer class="footer">
  
    <div class="bloque">
        <p>Distribuidora Boutique</p>
        <p>Calle Falsa 123, CABA</p>
        <p>Tel: +54 9 11 2222 3333</p>
        <p>contacto@vinariam.com</p>
    </div>
    
    <div class="bloque">
        <p>Ayuda</p>
        <p>Cómo comprar</p>
        <p>Envíos</p>
        <p>Términos y Condiciones </p>
    </div>

    <div class="bloque">
        
        <p>Copyright© VINARIAM. All rights reserved. </p>

    </div>

    <div class="bloque social">
        
        <p>Seguinos</p>
        <div class="redes">
            <p><i class="fab fa-facebook-f"></i></p>
            <p><i class="fab fa-instagram"></i></p>
            <p><i class="fab fa-whatsapp"></i></p>
        </div>
    </div>
</footer>