<footer class="footer">
  
    <div class="bloque">
        <p>Boutique Distributor</p>
        <p>Vesterbrogade 30, kbh</p>
        <p>Phone: +45 33 11 55 22</p>
        <p>contact@vinariam.com</p>
    </div>
    
    <div class="bloque">
        <p><a href="/">Help</a></p>
        <p><a href="/">How to buy</a></p>
        <p><a href="/">Shipping</a></p>
        <p><a href="/">Terms and Conditions</a></p>
    </div>

    <div class="bloque">
        
        <p>Copyright© VINARIAM. All rights reserved. </p>

    </div>

    <div class="bloque social">
        
        <p>Follow Us</p>
        <div class="redes">
            <p><a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a></p>
            <p><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></p>
            <p><a href="https://www.whatsapp.com"><i class="fab fa-whatsapp"></i></a></p>
        </div>
    </div>
</footer>