<header>
    <div class="LogoPrincipal">
        <a href="/"><img class="logo" src="/img/logoblanco.svg" alt="LogoPrincipal"></a>
    </div>

        <div class="menu">
            <%- include ('../partials/navBlanco') %>
        </div> 

</header>   