<header>
    <div class="LogoPrincipal">
        <a href="/"><img class="logo" src="/img/logolargo.svg" alt="Logo Principal"></a>
    </div>

        <div class="menu">
            <%- include ('../partials/nav') %>
        </div> 

</header>   