<header>
    <div class="LogoPrincipal">
        <div class="hamburger">
            <i class="fas fa-bars"></i>
        </div>
        <img class="logoDesktop" src="/img/logolargo.svg" alt="Logo principal">
        <img class="logoMobile" src="/img/logolargo.svg" alt="logo Mobile">
        <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
    </div>

        <div class="menu">
            <%- include ('../partials/nav') %>
        </div> 

</header>   