<header>
    <div class="LogoPrincipal">
        <a href="/"><img class="logo" src="/img/logolargo.svg" alt="LogoPrincipal"></a>
    </div>

        <div class="menuDerecho">
            <%- include ('../partials/nav') %>
        </div> 

</header>   