
<nav> 
    <ul class="barraNav"> 
        <li><a class="mayus" href="/">Home</a></li>
        <li><a class="mayus" href="/productos">Wines</a></li>
        <li><a class="mayus" href="/about">About us</a></li>
        <div class="user">
            <li><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
            <li><a href="/users/login"><i class="fas fa-user"></i></a></li>
        </div>
    </ul>
    
</nav> 