
<nav> 
    <ul class="barraNav"> 
        <li><a class="mayus" href="/">Home</a></li>
        <li><a class="mayus" href="/productos">Vinos</a></li>
        <li><a class="mayus" href="/about">Conocenos</a></li>
        <div class="user">
            <li><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
            <li><a href="/users/login"><i class="fas fa-user"></i></a></li>
        </div>
        <div class="lang">
            <p><a href="es" class="mayus">es</a>/<a href="en" class="mayus">en</a></p>
        </div>
    </ul>
    
</nav> 