
<nav> 
    <ul class="barraNav"> 
        <li><a class="mayus" href="#">Vinos</a></li>
        <li><a class="mayus" href="#">El club</a></li>
        <li><a class="mayus" href="#">Experiencias</a></li>
        <li><a class="mayus" href="#">Conocenos</a></li>
        <li><a href="/productos/cart"><i class="fas fa-shopping-cart"></i></a></li>
        <li><a href="/users/login"><i class="fas fa-user"></i></a></li>
    </ul>
    
</nav> 