
<nav> 
    <ul class="barraNav"> 
        <li><a class="mayus" href="/">Home</a></li>
        <li><a class="mayus" href="/productos">Vinos</a></li>
        <li><a class="mayus" href="/about">Conocenos</a></li>
        <li><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
        <li><a href="/users/login"><i class="fas fa-user"></i></a></li>
    </ul>
    
</nav> 