
<nav> 
    <ul class="barraNav"> 
        <li><a class="mayus navItem" href="/">Home</a></li>
        <li><a class="mayus navItem" href="/productos">Wines</a></li>
        <li><a class="mayus navItem" href="/about">About us</a></li>
        <li><a class="mayus navItem mobileOnly" href="/users/login">Profile</a></li>
        <div class="user">
            <li><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
            <li><a href="/users/login"><i class="fas fa-user"></i></a></li>
        </div>
    </ul>
    <script src="/js/hamburger.js"></script>
</nav> 