
<nav> 
    <ul class="barraNav barraNavBlanca"> 
        <li><a class="mayus blanco" href="/productos">Vinos</a></li>
        <li><a class="mayus blanco" href="#">El club</a></li>
        <li><a class="mayus blanco" href="/productos/experiences">Experiencias</a></li>
        <li><a class="mayus blanco" href="#">Conocenos</a></li>
        <li><a href="/productos/cart"><i class="fas fa-shopping-cart blanco"></i></a></li>
        <li><a href="/users/login"><i class="fas fa-user blanco"></i></a></li>
    </ul>
    
</nav> 