
<nav> 
    <ul class="barraNav barraNavBlanca"> 
        <li><a class="mayus blanco" href="/">Home</a></li>
        <li><a class="mayus blanco" href="/productos">Wines</a></li>
        <li><a class="mayus blanco" href="/about">About us</a></li>
        <li><a class="mayus mobileOnly" href="/users/login">Profile</a></li>
        <div class="user">
            <li><a href="/cart"><i class="fas fa-shopping-cart blanco"></i></a></li>
            <li><a href="/users/login"><i class="fas fa-user blanco"></i></a></li>
        </div>
    </ul>
    
</nav> 