<%- include ('../partials/head', {title: 'Iniciar sesion'}) %>


<body class="bodyLogin center">
    
    <%- include ('../partials/header') %>

        <main>
            <div class="content">
                <div class="izquierdaLogin">
                
                    <form action="/users/login" method="POST" class="formLogin"> 
                        <ul style= "color:white" class="errors"></ul>
            
                        <% if (typeof errors != "undefined") { %>
							
                            <% errors.forEach(error => { %>
                             
                                <p style="color: white"><%= error.msg %> </p>
    
                            <% }) %>
            
                        <% } %>

                        <input class="camposLogin" type="text" name="email" id="email" placeholder="Usuario o E-Mail"><br>
                        <input class="camposLogin" type="password" name="password" id="password" placeholder="Contraseña"><br>
                        <button class="botonLogin camposLogin" type="submit" name="login" id="login">Log in</button><br>
                        <label style="color: white" class="camposLogin"><input type="checkbox" id="recordame" name="recordame">Remember me</label>
                        <!--<button class="botonLoginGoogle camposLogin" type="text" name="login" id="login">Log in with Google</button><br> -->
                        <p class="textoRegister">Still not registered?</p>
                        <a href="/users/register" class="linkRegister"><p>Register</p></a>
                    </form>
                </div>
                <div class="derechaLogin">
                    <img class="mujerLogin" src="/img/mujerlogin.svg" alt="mujerLogin">
                </div>
            </div>
        </main>
        <script src="/js/scriptLogin.js"></script>
</body>


</html>