<%- include ('../partials/head', {title: 'Profile'}) %>

<body>
    <div class="center">
        <%- include ('../partials/header') %>

        <main>


        <div class="BloqueGeneralAdmin">

            <div class="bloqueUno">
                <div class="bloqueUnoTitulo">
                    <div class="backTo">
                        <p>Back to</p>
                        <a href="/users/profile"><h1>Your profile</h1></a> 
                    </div>
                    <a href="/users/logout" class="logout">Logout</a>
                </div>
                <div>
                <img class="hombreProfile" src="/img/password.png" alt="imagenPassword">
            </div>
                  
            </div>

            <div class="formRegister">
                <form action="/users/password" method="POST">
                    <h2 class="contanos">Change your password</h2>
                    <ul style= "color: red" class="errors"></ul>
                    <% if (typeof errors != "undefined") { %>
                        <% errors.forEach(error => { %>
                           <p><%= error.msg %> </p>
                        <% }) %>
                    <% } %>
                    <input class="camposForm" type="password" id="newPassword" name="newPassword" placeholder="/ new password"><br>
                    <input class="camposForm" type="password" id="newPasswordConfirm" name="newPasswordConfirm" placeholder="/ confirm new password"><br>
                    <input class="camposForm" type="password" id="oldPassword" name="oldPassword" placeholder="/ old password"><br>
                <div class="botones">
                    <button class="boton camposForm" type="submit" name="register" id="register"><strong>Continue</strong></button>
                </div>
            </form>
       
        </div>
        </main>
    </div>
    <%- include ('../partials/footer') %>
    <script src="/js/scriptEditUser.js"></script>

</body>
</html>