<%- include ('../partials/head', {title: 'Registro'}) %>

<body>
<div class="center">
        <%- include ('../partials/header') %>

        <main>
        <div class="contentR">
            <div class="genteRegister">
                <img class="hombreRegister" src="/img/hombre.svg" alt="genteRegister">
                <img class="mujerRegister" src="/img/mujer.svg" alt="genteRegister">
            </div>
            <div class="formRegister">
                <form action="/users/processRegister" method="POST" enctype="multipart/form-data">
                    <h2 class="contanos">Tell us about yourself</h2>
                    <ul class="errors"></ul>
                    <% if (typeof errors != "undefined") { %>
							
                        <% errors.forEach(error => { %>
                         
                            <p><%= error.msg %> </p>

                        <% }) %>
        
                    <% } %>
                    <input class="camposForm" type="text" id="name" name="name" placeholder="/ name"><br>
                    <input class="camposForm" type="text" id="lastName" name="lastName" placeholder="/ last name"><br>
                    <input class="camposForm" type="text" id="userName" name="userName" placeholder="/ user name"><br>
                    <div class="dob"><input class="camposForm dobForm" type="date" id="birthday" name="birthday"><br><p class="dobP">/ birthday</p></div> 
                    <input class="camposForm" type="email" id="email" name="email" placeholder="/ e-mail"><br>
                    <input class="camposForm" type="password" id="password" name="password" placeholder="/ password"><br>
                    <input class="camposForm" type="password" id="passwordconfirm" name="passwordconfirm" placeholder="/ confirm password"><br>
                    <div class="camposForm">
                        <label for="image" class="form-label, text-photo">Choose your profile picture</label>
                        <input type="file" name="image" id="image">
                    </div>
                <div class="botones">
                    <input class="boton" type="checkbox" name="terminos" value="terminos"><label class="terminos" name="terminos">I accept the terms</label><br>
                    <button class="boton camposForm" type="submit" name="register" id="register"><strong>Register</strong></button>
                </div>
            </form>
            </div>
        </div>
        </main>
    </div>
    <%- include ('../partials/footer') %>
 <script src="/js/scriptRegister.js"></script> 
</body>
</html>