<%- include ('../partials/head', {title: 'Registro'}) %>

<body>
<div class="center">
        <%- include ('../partials/header') %>

        <main>
        <div class="contentR">
            <div class="genteRegister">
                <img class="hombreRegister" src="/img/hombre.svg" alt="genteRegister">
                <img class="mujerRegister" src="/img/mujer.svg" alt="genteRegister">
            </div>
            <div class="formRegister">
                <form action="/users/processRegister" method="POST" enctype="multipart/form-data">
                    <h2 class="contanos">Contanos de vos</h2>
                    <ul class="errors"></ul>
                    <% if (typeof errors != "undefined") { %>
							
                        <% errors.forEach(error => { %>
                         
                            <p><%= error.msg %> </p>

                        <% }) %>
        
                    <% } %>
                    <input class="camposForm" type="text" id="name" name="name" placeholder="Nombre"><br>
                    <input class="camposForm" type="text" id="lastName" name="lastName" placeholder="Apellido"><br>
                    <input class="camposForm" type="text" id="userName" name="userName" placeholder="Nombre de usuario"><br>
                    <input class="camposForm" type="date" id="birthday" name="birthday"><br> 
                    <input class="camposForm" type="email" id="email" name="email" placeholder="E-mail"><br>
                    <input class="camposForm" type="password" id="password" name="password" placeholder="Clave"><br>
                    <input class="camposForm" type="password" id="passwordconfirm" name="passwordconfirm" placeholder="Confirmá tu clave"><br>
                    <div class="camposForm">
                        <label for="image" class="form-label, text-photo">Elegí una foto de perfil</label>
                        <input type="file" name="image" id="image">
                    </div>
                <div class="botones">
                    <input class="boton" type="checkbox" name="terminos" value="terminos"><label class="terminos" name="terminos">Acepto los Términos y Condiciones</label><br>
                    <button class="boton camposForm" type="submit" name="register" id="register"><strong>Continuar</strong></button>
                </div>
            </form>
            </div>
        </div>
        </main>
    </div>
    <%- include ('../partials/footer') %>
 <script src="/js/scriptRegister.js"></script> 
</body>
</html>