<%- include ('../partials/head', {title: 'Registro'}) %>

<body>
<div class="center">
        <%- include ('../partials/header') %>

        <main>
        <div class="contentR">
            <div class="genteRegister">
                <img class="hombreRegister" src="/img/hombre.svg" alt="genteRegister">
                <img class="mujerRegister" src="/img/mujer.svg" alt="genteRegister">
            </div>
            <div class="formRegister">
                <h2 class="contanos">Se te envio un mail para confirmar tu casilla</h2>
                <p class="contanos">Si no te recibiste nada, mirá el correno no deseado.</p>
                <p class="contanos">O hace click <a href="">aca</a> para que lo enviemos de nuevo</p>
            </div>
        </div>
        </main>
    </div>
    <%- include ('../partials/footer') %>

</body>
</html>